body{
	background-color: azure;
}
h1{
	text-align: center;
	color: red;
	text-transform: uppercase;
}
h2{
	color: blue;
}
h3{
	color: green;
}
p.red{
	color: red;
}
p.yellow{
	color: yellow;
}
p.blue{
	color: blue;
}
p.pink{
	color: pink;
}
p.violet{
	color: violet;
}
p.magenta{
	color: magenta;
}
p.lime{
	color: lime;
}
p.chocolate{
	color: chocolate;
}
